
@{
    ViewBag.Title = "About";
}
<div>
    <h2></h2>
    <p></p>
</div>
<h2>About Me</h2>
<p> A little bit more about me and my life</p>
<div class="row jumbotron">

   
    <div class="col-md-8">
        <h2>Bio</h2>
        <p>
            My name is Sithabile Kubheka a second year informatics student at the University of Pretoria. I attended
            my high school at Tsosoloso Ya Afrika secondary school and completed matrix in the year 2019 and did my first year
            the following year at UP, where I started at an extended program. In 2021 I was doing my first year as a Bcom informatics
            student.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sithabile</h2>
        <img src="~/Media/Images/Meee.jpeg" width="300" height="300" alt=" Sithabile"
    </div>

</div>
